{% include "layout.html" %}
{% block body %}
    <div class="text-center" style="padding-left:0.8em">
        <h2>Gallery</h2>

        {% for file in existing_files %}

            <div class="col-lg-3 col-md-4 col-xs-4 thumb">
                        <a href="{{ url_for('static',filename=file ) }}"><img src="{{ url_for('static',filename=file ) }}" class=img-thumbnail" width="256" height="256" style="margin: 0.5em;"></a>

                    <p>here's a caption</p>
            </div>
        {% endfor %}

        {% if session.logged_in %}
        <p>Upload image</p>
        <form action="{{ url_for('gallery') }}" method="post"  enctype="multipart/form-data">
            <label class="btn btn-default btn-file">
                Browse<input type="file" name="file" style="display: none;">
            </label>
            <input type="submit" class="btn btn-primary">
        </form>
        {% endif %}


    </div>



{% endblock %}